/* Define your variables here */

:root {
    /* Colors */
    --color-dark-blue: #22223B;
    --color-light-blue: #4A4E69;
    --color-light-gray: #9A8C98;
    --color-beige: #C9ADA7;
    --color-eggshell: #F2E9E4;
    --color-action-color: #E14B3F;

    /* Possibel Backround Colors */

    --color-offwhite: #f2f0ef;

    /* Font Size */
    --font-size-xxl: 170px; /* Extra-extra-large */
    --font-size-xl: 125px;  /* Extra-large */
    --font-size-lg: 100px;  /* Large */
    --font-size-md: 50px;   /* Medium */
    --font-size-sm: 45px;   /* Small */
    --font-size-xs: 40px;   /* Extra-small */
    --font-size-xxs: 30px;  /* Extra-extra-small */
    --font-size-xxxs: 25px; /* Extra-extra-extra-small */
    --font-size-xxxxs: 20px; /* Smallest */

    /* Font Weight */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

}

@media (max-width: 1200px) {
    :root {
        --font-size-xxl: 136px;
        --font-size-xl: 100px;
        --font-size-lg: 80px;
        --font-size-md: 40px;
        --font-size-sm: 36px;
        --font-size-xs: 32px;
        --font-size-xxs: 24px;
        --font-size-xxxs: 20px;
        --font-size-xxxxs: 16px;
    }
}
  
@media (max-width: 992px) {
    :root {
        --font-size-xxl: 102px;
        --font-size-xl: 75px;
        --font-size-lg: 60px;
        --font-size-md: 30px;
        --font-size-sm: 27px;
        --font-size-xs: 24px;
        --font-size-xxs: 18px;
        --font-size-xxxs: 15px;
        --font-size-xxxxs: 12px;
    }
}

@media (max-width: 768px) {
    :root {
        --font-size-xxl: 85px;
        --font-size-xl: 63px;
        --font-size-lg: 50px;
        --font-size-md: 25px;
        --font-size-sm: 22px;
        --font-size-xs: 20px;
        --font-size-xxs: 15px;
        --font-size-xxxs: 12px;
        --font-size-xxxxs: 10px;
    }
}
  
@media (max-width: 576px) {
    :root {
        --font-size-xxl: 68px;
        --font-size-xl: 50px;
        --font-size-lg: 40px;
        --font-size-md: 20px;
        --font-size-sm: 18px;
        --font-size-xs: 16px;
        --font-size-xxs: 12px;
        --font-size-xxxs: 10px;
        --font-size-xxxxs: 8px;
    }
}

@media (max-width: 400px) {
    :root {
        --font-size-xxl: 51px;
        --font-size-xl: 38px;
        --font-size-lg: 30px;
        --font-size-md: 15px;
        --font-size-sm: 14px;
        --font-size-xs: 12px;
        --font-size-xxs: 9px;
        --font-size-xxxs: 8px;
        --font-size-xxxxs: 6px;
    }
}