/* Define your variables here */

:root {
    /* Colors */
    --color-dark-blue: #22223B;
    --color-light-blue: #4A4E69;
    --color-light-gray: #9A8C98;
    --color-beige: #C9ADA7;
    --color-eggshell: #F2E9E4;
    --color-action-color: #E14B3F;

    /* Possibel Backround Colors */

    --color-offwhite: #f2f0ef;

    /* Font Size */
    --font-size-xxl: 170px; /* Extra-extra-large */
    --font-size-xl: 125px;  /* Extra-large */
    --font-size-lg: 100px;  /* Large */
    --font-size-md: 50px;   /* Medium */
    --font-size-sm: 45px;   /* Small */
    --font-size-xs: 40px;   /* Extra-small */
    --font-size-xxs: 30px;  /* Extra-extra-small */
    --font-size-xxxs: 25px; /* Extra-extra-extra-small */
    --font-size-xxxxs: 20px; /* Smallest */

    /* Font Weight */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

}

/* You can add more variables here */
