:root{
  --ff-icons: material-icons;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-tight: 100%;
  --lh-normal: 130%;
  --lh-loose: 150%;
  --base-font-size: calc(1rem * 0.08);
  --xxxs: 5px;
  --xxs: 8px;
  --xs: 10px;
  --s:  12px;
  --m: 16px;
  --l: 20px;
  --xl: 24px;
  --xxl: 32px;
  --xxxl: 40px;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #e8e8e8;
  --color-magenta: #b62584;
  --color-orange: #ea5b0c;
  --color-rot: #c60c0f;
  --color-blau: #4285f4;
}